<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% if posts %}
        <h1>Posts:</h1>
        {% for post in posts %}
          <h2>{{ post.title }}</h2>
          <p>By {{ post.author }}</p>
          <p>{{ post.content }}</p>
        {% endfor %}
      {% else %}
        <h2>Erro ao obter posts</h2>
      {% endif %}
    </div>
  </body>
</html>
